body {
    background-color: rgb(171, 217, 223);
    display: flex;
    flex-direction: column;
    align-items: center;

}

h2 {
font-size: 40px;
}
.task{
    background-color: rgb(194, 192, 192);
    border: solid black 2px;
    margin: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    width: 400px;
}

#app {
    display: flex;
    flex-direction: row;
   

}

#projectSide {
    border: solid 2px black;
    min-width: 300px;
    min-height: 600px;
}

#taskSide {
    border: solid 2px black;
    min-width: 500px;
}

#Name {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}

#Description {
    font-size: 25px;
    
}

.completeButton {
    background-color:transparent; 
}

.project {
    display: flex;
    flex-direction: row;
    background-color: rgb(194, 192, 192);
    border: solid black 2px;
    margin: 3px;
}

.projectDeleteBtn {
    background-color: rgba(241, 78, 56, 0.986);
    margin-left: 10px;
    margin-right: 10px;
}

#tasks {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 5px;
}

#project {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 5px;
}

button {
    outline: none;
}

input {
    outline: none;
}

select {
    outline: none;
}